{% load static %}
<header class="cabecalho">

    <div class="cabecalho-logo">
        <img src="{% static 'img/logo-sem-fundo.png' %}" alt="Logo" >
    </div>
        <ul class="cabecalho-lista">

            {% if user.is_authenticated %}

                <li class="cabecalho-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="cabecalho-item"><a href="">Agenda</a></li>
                <li class="cabecalho-item"><a href="{% url 'cadastro' %}">Cadastrar paciente</a></li>
                <li class="cabecalho-item"><a href="{% url 'busca' %}">Anamnese</a></li>
                <li class="cabecalho-item"><a href="">Registrar procedimento</a></li>
                <li class="cabecalho-item"><a href="">Finanças</a></li>
                <li class="cabecalho-item"><a href="{% url 'logout' %}">Logout</a></li>                   
            
            {% else %}
            
                <li class="cabecalho-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="cabecalho-item"><a href="">Agenda</a></li>
                <li class="cabecalho-item"><a href="{% url 'login' %}">Login</a></li>
                <li class="cabecalho-item"><a href="{% url 'criar_usuario' %}">Criar conta</a></li>                   
            
            {% endif %}
        
        </ul>


</header>