{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_cabecalho.html' %}

<main>
    <form action="{% url 'salvar_anamnese' %}" method="POST" class="anamnese__formulario">
        {% csrf_token %}   
        {% for campo in form %}
            <div class="form-floating mb-3">
                {{ campo }}
                    <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                {{ campo.errors }}
            </div>
        {% endfor %}

    </form>

</main>
{% include 'partials/_alertas.html' %}




{% include 'partials/_footer.html' %}

{% endblock %}