/* Variáveis */
:root {
    --azul-principal: #248eff;

}

/* cabeçalho / menu */
.cabecalho {
    width: auto;
    padding: 30px;
    background: linear-gradient(var(--azul-principal),#FFFFFF);

}
.cabecalho-logo {
    text-align: center;
} 

.barra__cabecalho {
    background-color: var(--azul-principal);
    border-radius: 10px;
}

.cabecalho-lista {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.cabecalho-item {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    justify-self: center;
    align-self: center;
}
.cabecalho-item:hover{

    text-decoration: underline;
}

/* index */
.secao__index {
    width: 1040px;
    margin: auto;
    padding: 10px;
}


.div__index {
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 10px;
}


.div__index--img {
    width: 300px;
    height: 200px;
    position: absolute;
}

.div__index--inferior {
    background-color: var(--azul-principal);
    width: 300px;
    height: 100px;
    position: absolute;
    top: 300px;
    border-radius: 0 0 15px 15px;
}

.foto__procedimento {
    width: 300px;
    height: 300px;
    border-radius: 15px 15px 0 0;
}

.titulo__cartao {
    font-size: 1em;
    font-weight: 700;
    color: #FFFFFF;
    padding: 8px;
}
.descricao__cartao {
    font-size: 0.8em;
    padding: 0 8px 0;
    font-weight: 600;
}


.titulo__localizacao {
    font-size: 1.4em;
    font-weight: 700;
    padding: 8px;
    margin: 8px;
}

.mapa {
    text-align: center;
}
iframe {
    box-shadow: 3px 3px 5px 5px #000000 ;
}

/* Corpo*/

main{
    background-color: #FFFFFF;
}


form {
    margin: auto;
    width: 1040px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 20px;
}

.div-formulario {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    position:  static;
    grid-column: span 2;
}

label{
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    display: block;
}

input, textarea ,select{
    display: inline;
    border: solid #000000 2px;
    border-radius: 6px;
    font-size: 20px;
    width: 90%;
    text-align: center;
    padding: 10px;
    justify-self: end;
}

select {
    cursor: pointer;
}

.campos__formulario {
    grid-column: span 2;
    display: grid;
    grid-template-columns: auto auto;
    border: solid #000000 3px;
    border-radius: 6px;
    padding: 40px 20px;
    row-gap: 16px;
}

.anamnse__div { 
    display: grid;
    grid-template-columns: auto auto;
}

.anamnese__nome-paciente {
    grid-column: span 2;
}

.div-botoes{
    margin: 20px;
    display: flex;
    justify-content: center;
    grid-column: span 2;
}

.botao-salvar{
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 6px;
    background-color: #00ff55;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.botao-limpar{
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 6px;
    background-color: #ff0000;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.botao-salvar:hover,.botao-limpar:hover{
    font-size: 1.5rem ;
    text-decoration: underline;
}

.alerta__success{
    margin: auto;
    width: 80%;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
    grid-column: span 2;
    background-color: #95fdb4;
    border: solid 1px #39d167;
    padding: 15px;
    border-radius: 6px;
    opacity: 0.8;
}

.alerta__error {
    margin: auto;
    width: 80%;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
    grid-column: span 2;
    background-color: #ff0000;
    padding: 20px;
    border-radius: 6px;
    opacity: 0.8;
}

.resultado__busca {
   margin: 30px auto;
}

.item__lista--busca {
    margin: 15px auto ;
    width: 80%;    
    border-radius: 6px;
    padding: 15px;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 400ms;
    text-align: center;
}

.item__lista--busca:hover {
   border: none;
   font-size: 1.5rem;
   transition: 400ms;
   text-align: center;
   text-decoration: underline;
}


/* Tabelas de finanças */
.filtro__data {    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.filtro__data--formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.tabela__entradas{
    width: 1040px;
    margin: auto auto 16px auto;
    border: solid 2px #248eff;
    table-layout: fixed;
}

.tabela__entradas--head {
    border-bottom: solid 1px #248eff;
    
}

.tabela__entradas--head-celula {
    padding: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}
.tabela__entradas--body {
    text-align: center;
}

.tabela__entradas--body-linha {
    border-bottom: solid 1px #000000;
    text-align: center;
    padding: 6px 8px;
}

.tabela__entradas--body-celula {
    font-size: 0.9rem;
    padding: 6px 16px;
    text-align: center;
}

.tabela__entradas--footer {
    background-color: #95fdb4;
}
.tabela__entradas--footer-celula {
    font-size: 0.9rem;
    font-weight: 700;
    padding: 8px;
    text-align: center;
}

.tabela__despesas {
    width: 1040px;
    margin: auto auto 16px auto;
    border: solid 2px #FF0000;
    table-layout: fixed;
}

.tabela__despesas--head {
    border-bottom: solid 1px #FF0000;
    
}

.tabela__despesas__head_celula{
    padding: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    padding: 6px 8px;
}

.tabela__despesas--body-linha{
    border-bottom: solid 1px #000000;
    text-align: center;
    padding: 6px 8px;
}

.tabela__despesas--body-celula{
    width: 16%;
    font-size: 0.9rem;
    padding: 6px 16px;
    text-align: center;
    vertical-align: middle;
}

.celula--observacoes{
    text-align: justify;
    padding: 6px 8px;
}

.div__paginator {
    width: 1040px;
    text-align: end;
    padding: 10px;
    margin: auto;
}

.span__paginator {
    font-weight: 600;
    font-size: 16px;
}

.a__paginator {
    margin: 0 6px;
}

/* Footer */
footer div {
    text-align: center;
} 


a {
    color: inherit;
    text-decoration: none;
}


