{% extends 'partials/_base.html' %}
{% block content %}
{% load static %}
{% include 'partials/_cabecalho.html' %}


<main>
    <form action="{% url 'registrar_despesa' %}" method="POST">
        {% csrf_token %}
        {% include 'partials/_alertas.html' %}
        <div class="campos__formulario">
            {% for campo in despesa %}
                <label for="{{ campo.id_for_label}}">{{ campo.label }}</label>
                {{ campo }}    
            {% endfor %}
        </div>
        <input type="reset" value="Limpar" class="botao-limpar">
        <input type="submit" value="Salvar" class="botao-salvar">

    </form>
</main>






{% include 'partials/_footer.html' %}

{% endblock %}