/* cabeçalho / menu */
.cabecalho {
    width: auto;
    padding: 30px;
    background: linear-gradient(#248eff,#FFFFFF);

}
.cabecalho-logo {
    text-align: center;
} 

.barra__cabecalho {
    background-color: #248eff;
    border-radius: 10px;
}

.cabecalho-lista {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.cabecalho-item {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    justify-self: center;
    align-self: center;
}
.cabecalho-item:hover{

    text-decoration: underline;
}

/* Barra Lateral */

.barra__lateral-nav{
    
    
}
.barra__lateral-ul{
    width: 200px;
    border: none;
    display: flex;
    flex-direction: column;
    background-color: #248eff;
    border-radius: 10px;
    padding: 16px;
}
.barra__lateral-li{
    padding: 10px;
    margin: auto;
}

.horario__funcionamento{
    border: solid 1px #000000;
    background-color: #FFFFFF;
    margin: auto;
}

.horario__funcionamento--titulo{
    font-weight: 600;
    padding: 8px;
    text-align: center;
    
}
.horario__funcionamento--linhas{
    border-bottom: solid 1px #000000;
}

.horario__funcionamento--celulas{
    font-weight: 550;
    padding: 8px;

}

/* Corpo*/

main{
    background-color: #FFFFFF;
}

.sessao__indice {
    width: 1040px;
    margin: auto;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    gap: 26px;
}


.titulo__index {
    grid-column: span 2;
    justify-self: center;
    font-size: 1.6rem;
    font-weight: 700;
}

.subtitulo__index{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 50px 0 50px 0;
    text-align: center;
}

.sessao__indice li {
    align-self: center;
    font-size: 1.4rem;
    font-weight: 550;
    padding: 16px 0 ;
}

.imagem__destaque {
    width:80%;
    box-shadow:  10px 12px  #000000, -10px -10px 12px #1f0404;
}

.video {
    grid-column:span 2;
    margin: auto;
    padding: 26px;
    
}
.mapa{
    grid-column:span 2;
    margin: auto;
    
}






form {
    margin: auto;
    width: 1040px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 20px;
}

.div-formulario {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    position:  static;
    grid-column: span 2;
}

label{
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    display: block;
}

input, textarea ,select{
    display: inline;
    border: solid #000000 2px;
    border-radius: 6px;
    font-size: 20px;
    width: 90%;
    text-align: center;
    padding: 10px;
    justify-self: end;
}

select {
    cursor: pointer;
}


.campos__formulario {
    grid-column: span 2;
    display: grid;
    grid-template-columns: auto auto;
    border: solid #000000 3px;
    border-radius: 6px;
    padding: 40px 20px;
    row-gap: 16px;
}





.anamnse__div { 
    display: grid;
    grid-template-columns: auto auto;
}

.anamnese__nome-paciente {
    grid-column: span 2;
}



.div-botoes{
    margin: 20px;
    display: flex;
    justify-content: center;
    grid-column: span 2;
}

.botao-salvar{
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 6px;
    background-color: #00ff55;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.botao-limpar{
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 6px;
    background-color: #ff0000;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.botao-salvar:hover,.botao-limpar:hover{
    font-size: 1.5rem ;
    text-decoration: underline;
}


.alerta__success{
    margin: auto;
    width: 80%;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
    grid-column: span 2;
    background-color: #95fdb4;
    border: solid 1px #39d167;
    padding: 15px;
    border-radius: 6px;
    opacity: 0.8;
}

.alerta__error {
    margin: auto;
    width: 80%;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
    grid-column: span 2;
    background-color: #ff0000;
    padding: 20px;
    border-radius: 6px;
    opacity: 0.8;
}

.resultado__busca {
   margin: 30px auto;
}



.item__lista--busca {
    margin: 15px auto ;
    width: 80%;    
    border-radius: 6px;
    padding: 15px;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 400ms;
    text-align: center;
}

.item__lista--busca:hover {
   border: none;
   font-size: 1.5rem;
   transition: 400ms;
   text-align: center;
   text-decoration: underline;
}



footer div {
    text-align: center;
} 


a {
    color: inherit;
    text-decoration: none;
}