/* cabeçalho / menu */
.cabecalho {
    width: auto;
    padding: 30px;
    background: linear-gradient(#248eff,#FFFFFF);

}
.cabecalho-logo {
    text-align: center;
} 

.cabecalho-lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #248eff;
    border-radius: 10px;
    box-sizing: border-box;
    flex-flow: nowrap;
    height: 60px;
}

.cabecalho-item {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    justify-self: center;
    align-self: center;
}

/* Corpo*/

main{
    background-color: #FFFFFF;
}

form {
    margin: auto;
    width: 600px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(8fr);
    gap: 20px;
}

.div-formulario {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    position:  static;
    grid-column: span 2;
}

label{
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    display: block;
}

input, textarea ,select{
    display: inline;
    border: solid #000000 2px;
    border-radius: 6px;
    font-size: 20px;
    width: 90%;
    text-align: center;
    padding: 10px;
}

.div-botoes{
    margin: 20px;
    display: flex;
    justify-content: center;
    grid-column: span 2;
}

.botao-salvar{
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 6px;
    background-color: #00ff55;
    border: none;
    padding: 10px 20px;
    margin: 10px;
}

.botao-limpar{
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 5px;
    background-color: #ff0000;
    border: none;
    padding: 10px 20px;
    margin: 10px;
}


.alerta__success{
    margin: auto;
    width: 80%;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
    grid-column: span 2;
    background-color: #95fdb4;
    border: solid 1px #39d167;
    padding: 15px;
    border-radius: 6px;
    opacity: 0.8;
}

.alerta__error {
    margin: auto;
    width: 80%;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
    grid-column: span 2;
    background-color: #ff0000;
    padding: 20px;
    border-radius: 6px;
    opacity: 0.8;
}

.resultado__busca {
   margin: 30px auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.item__lista--busca {
    margin: 15px auto ;
    width: 80%;    
    border-radius: 6px;
    padding: 15px;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 400ms;
    text-align: center;
}

.item__lista--busca:hover {
   border: none;
   font-size: 1.5rem;
   transition: 400ms;
   text-align: center;
   text-decoration: underline;
}



footer div {
    text-align: center;
} 