{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_cabecalho.html' %}



<div>
    <form action="{% url 'ver_anamnese' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ id_paciente }}">
        <h1>{{ nome.nome_paciente }}
        {{ nome.sobrenome_paciente }}</h1>
        {{ anamnese }}
        <input type="submit">
        {% include 'partials/_alertas.html' %}
    </form>
</div>






{% include 'partials/_footer.html' %}

{% endblock %}