{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_cabecalho.html' %}

<main>
    <section style=" margin: auto 150px;">
        <form action="{% url 'salvar_anamnese' anamnese.id %}" method="POST">
            {% csrf_token %}   
            <div>
                <label for="paciente_id">{{ paciente }}</label>
                <input type="hidden" name="paciente_id" value="{{ anamnese.paciente_id}}">
            </div>   
            
            <div>    
                <label for="acompanhamento_medico"> Faz acompanhamento médico:</label>
                <select name="acompanhamento_medico" value="{{ anamnese.acompanhamento_medico }}">
                    {% if anamnese.acompanhamento_medico == 'N' %}
                        <option value="S">Sim</option>
                        <option value="N" selected>Não</option>
                    {% else %}
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                    {% endif %}
                </select>
                <label for="especialidade"> Especialide:</label>
                <input type="text" value="{{ anamnese.especialidade }}" name="especialidade" placeholder="Ex: Ortopedista">
            </div>

            <div>    
                <label for="uso_medicacao"> Faz uso de medicamento:</label>
                <select name="uso_medicacao" value="{{ anamnese.uso_medicacao }}">
                    {% if anamnese.uso_medicacao == 'N' %}
                        <option value="S">Sim</option>
                        <option value="N" selected>Não</option>
                    {% else %}
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                    {% endif %}
                </select>
                <label for="especialidade"> Nome do medicamento:</label>
                <input type="text" value="{{ anamnese.medicamento_em_uso }}" name="medicamento_em_uso" placeholder="Ex: Losartana"> {{ anamnese.medicamento_em_uso }}
            </div>

            <div>    
                <label for="diabetico"> Diabético:</label>
                <select name="diabetico" value="{{ anamnese.diabetico }}">
                    {% if anamnese.diabetico == 'N' %}
                        <option value="S">Sim</option>
                        <option value="N" selected>Não</option>
                    {% else %}
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                    {% endif %}
                </select>
            </div>

            <div>    
                <label for="hepatite">Hepatite:</label>
                <select name="hepatite" value="{{ anamnese.hepatite }}">
                    {% if anamnese.hepatite == 'N' %}
                        <option value="S">Sim</option>
                        <option value="N" selected>Não</option>
                    {% else %}
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                    {% endif %}
                </select>
            </div>

            <div>    
                <label for="hiv">HIV Positivo:</label>
                <select name="hiv" value="{{ anamnese.hiv }}">
                    {% if anamnese.hiv == 'N' %}
                        <option value="S">Sim</option>
                        <option value="N" selected>Não</option>
                    {% else %}
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                    {% endif %}
                </select>
            </div>
            
            <div>    
                <label for="problemas_circulatorios">Problemas circulatórios:</label>
                <select name="problemas_circulatorios" value="{{ anamnese.problemas_circulatorios }}">
                    {% if anamnese.problemas_circulatorios == 'N' %}
                        <option value="S">Sim</option>
                        <option value="N" selected>Não</option>
                    {% else %}
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                    {% endif %}
                </select>
            </div>

            <div>    
                <label for="alergico">Possui alergia:</label>
                <select name="alergico" value="{{ anamnese.alergico }}">
                    {% if anamnese.alergico == 'N' %}
                        <option value="S">Sim</option>
                        <option value="N" selected>Não</option>
                    {% else %}
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                    {% endif %}
                </select>
                <label for="alergia_a">Alergia a:</label>
                <input type="text" value="{{ anamnese.alergia_a }}" name="alergia_a" placeholder="Ex: Camarão">
            </div>

            <div>    
                <label for="teve_cancer">Já teve câncer:</label>
                <select name="teve_cancer" value="{{ anamnese.teve_cancer }}">
                    {% if anamnese.teve_cancer == 'N' %}
                        <option value="S">Sim</option>
                        <option value="N" selected>Não</option>
                    {% else %}
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                    {% endif %}
                </select>
                <label for="tipo_cancer">Tipo de câncer:</label>
                <input type="text" value="{{ anamnese.tipo_cancer }}" name="tipo_cancer" placeholder="Ex: Pele">
            </div>

            <div>    
                <label for="gravidez">Está gravida:</label>
                <select name="gravidez" value="{{ anamnese.gravidez }}">
                    {% if anamnese.gravidez == 'N' %}
                        <option value="S">Sim</option>
                        <option value="N" selected>Não</option>
                    {% else %}
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                    {% endif %}
                </select>
            </div>

            <div>    
                <label for="lactante">Está amamentando:</label>
                <select name="lactante" value="{{ anamnese.lactante }}">
                    {% if anamnese.lactante == 'N' %}
                        <option value="S">Sim</option>
                        <option value="N" selected>Não</option>
                    {% else %}
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                    {% endif %}
                </select>
            </div>

            <div>    
                <label for="hipertensao">Pressão alta:</label>
                <select name="hipertensao" value="{{ anamnese.hipertensao }}">
                    {% if anamnese.hipertensao == 'N' %}
                        <option value="S">Sim</option>
                        <option value="N" selected>Não</option>
                    {% else %}
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                    {% endif %}
                </select>
            </div>

            <div>    
                <label for="hipotensao">Pressão baixa:</label>
                <select name="hipotensao" value="{{ anamnese.hipotensao }}">
                    {% if anamnese.hipotensao == 'N' %}
                        <option value="S">Sim</option>
                        <option value="N" selected>Não</option>
                    {% else %}
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                    {% endif %}
                </select>
            </div>

            <div>
                <label for="observacoes">Observações:</label>
                <textarea name="observacoes" value="{{ anamnese.observacoes }}" placeholder="Ex: Paciente chegou com dedo inflamado.">{{ anamnese.observacoes }}</textarea>
            </div>

 
            <input type="submit" value="Salvar">
        </form>
    </section>
</main>
{% include 'partials/_alertas.html' %}




{% include 'partials/_footer.html' %}

{% endblock %}