{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_cabecalho.html' %}

<form action="{% url 'busca' %}" method="GET">
    {% csrf_token %}
    <label for="busca">Encontre um paciente</label>
    <input type="text" required placeholder="Ex: Paulo Vitor" name="busca">
    <input type="submit" value="Buscar">
    {% include 'partials/_alertas.html' %}
</form>
<br><br>
<hr><br><br>

<main>
    <section>
        {% if busca %}
            {% for resultado in busca %}
            <a href="{% url 'anamnese' resultado.id%}">{{ resultado.nome_paciente}} 
                {{sobrenome_paciente }}</a>
            {% endfor %}
        {% endif %}
    </section>
</main>
        


{% include 'partials/_footer.html' %}

{% endblock %}