{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_cabecalho.html' %}
<main>
    {% include 'partials/_alertas.html' %}
    <section class="resultado__busca">
        {% if busca %}
            <ul>    
                {% for resultado in busca %}
                    <a href="{% url 'anamnese' resultado.id %}">
                        <li class="item__lista--busca">
                            {{ resultado.nome_paciente}} 
                            {{ resultado.sobrenome_paciente }}
                        </li>
                    </a>
                {% endfor %}
            </ul>
        {% endif %}
    </section>

    



    <form action="{% url 'busca' %}" method="GET">
        {% csrf_token %}
        {% for campo in form %}
            <div class="form-floating mb-3">
                {{ campo }}
                <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                {{ campo.errors }}
            </div>
        {% endfor %}
        <input type="submit" value="Buscar" class="botao-salvar" >
    </form>
    
    
</main>
        


{% include 'partials/_footer.html' %}

{% endblock %}