{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_cabecalho.html' %}

<main>
    <form action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}

        {% for campo in cadastro_de_pacientes %}
                <div>
                    <label for="{{ field.id_for_label}}">{{ campo.label }}</label>
                    {{ campo }}
                </div>
        {% endfor %}
        <input type="submit">
        {% include 'partials/_alertas.html' %}
    </form>
</main>





{% include 'partials/_footer.html' %}

{% endblock %}