{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_cabecalho.html' %}


<main>
    <form action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}
        
        {% include 'partials/_alertas.html' %}

        {% for campo in cadastro_de_pacientes %}
                
                    <label for="{{ campo.id_for_label}}">{{ campo.label }}</label>
                    {{ campo }}
         
        {% endfor %}
        <div class="div-botoes">
            <input type="reset" value="Limpar" class="botao-limpar">
            <input type="submit" value="Salvar" class="botao-salvar">
        </div>
    </form>
</main>

{% include 'partials/_footer.html' %}
{% endblock %}