{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_cabecalho.html' %}
<main>
    <form action="{% url 'criar_usuario' %}" method="POST">
        {% csrf_token %}
        
        {% for campo in formulario %}
        <div>
            <label for="{{ field.id_for_label }}">{{ campo.label }}</label>
            {{ campo }}

        </div>

        {% endfor %}
        <input type="submit" value="Criar" class="botao-salvar">
        <input type="submit" value="Limpar" class="botao-limpar">

        {% include 'partials/_alertas.html' %}
    </form>
</main>


{% include 'partials/_footer.html' %}

{% endblock %}