{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_cabecalho.html' %}
<main>
    <form action="{% url 'criar_usuario' %}" method="POST">
        {% csrf_token %}
        
        {% for campo in formulario %}
       
            <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
            {{ campo }}



        {% endfor %}
        <input type="reset" value="Limpar" class="botao-limpar">
        <input type="submit" value="Criar" class="botao-salvar">

        {% include 'partials/_alertas.html' %}
    </form>
</main>


{% include 'partials/_footer.html' %}

{% endblock %}