{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_cabecalho.html' %}


<main>
    {% include 'partials/_barra_lateral.html' %}
    <section class="sessao__indice">
        <h1 class="titulo__index">A podologia é a especialidade médica que se concentra no cuidado dos pés e nas doenças dos pés. Alguns dos benefícios da podologia incluem:</h1>
        <ul>
            <li>Prevenção de lesões: a podologia pode ajudar a prevenir lesões nos pés, como calos, unhas encravadas e problemas de postura.
            </li>
            <li>
                Tratamento de doenças: a podologia pode tratar doenças dos pés, como frieiras, verrugas e onicomicose (infecção fúngica nas unhas).
            </li>
        </ul>

        <img src="{% static 'img/cloves.png' %}" alt="Antes e depois de um paciente" class="imagem__destaque">
        <img src="{% static 'img/cloves-2.png' %}" alt="Antes e depois de um paciente" class="imagem__destaque">

        <ul>
            <li>
                Melhora da circulação sanguínea: a podologia pode ajudar a melhorar a circulação sanguínea nos pés, especialmente em pessoas com diabetes ou outras condições que afetam a circulação.
            </li>
        </ul>
        
        
        
        
        <img src="{% static 'img/conceicao.png' %}" alt="Antes e depois de um paciente" class="imagem__destaque">

        
        <p>Conforto: a podologia pode ajudar a melhorar o conforto dos pés, especialmente em pessoas que passam muito tempo em pé ou caminhando.</p>

        <div class="video">
            <h2 class="subtitulo__index">O que faz um podólogo</h2>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/gh56qV33jII" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="mapa">
            <h2 class="subtitulo__index">Nossa localização</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1142.293154051971!2d-47.828493951905465!3d-15.63428818243194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a4104bef1c69b%3A0x47ecb66dde57bd8b!2sCaminho%20dos%20p%C3%A9s%20podologia!5e0!3m2!1spt-BR!2sbr!4v1675276030603!5m2!1spt-BR!2sbr" width="700" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        
        
    </section>

</main>






{% include 'partials/_footer.html' %}

{% endblock %}