{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_cabecalho.html' %}

{% include 'partials/_alertas.html' %}

<main>
    <div class="container text-center">
        <div class="row">
            {% for imagem in fotos %}
                {% if imagem.foto %}
                    <div class="col">
                        <div class="container">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ imagem.foto.url }}">
                                <h5 class="card-title">{{ imagem.titulo }}</h5>
                                <p class="card-text">{{ imagem.descricao }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>


    <section class="procedimentos__secao">
        <h1 class="titulo__secao">Procedimentos</h1>
        <img src="../media/logo-sem-fundo.png" class="imagem__procedimentos">
        <ul class="lista__procedimentos">
            <li class="procedimentos">Assepsia completa</li>
            <li class="procedimentos">Desencravar unha</li>
            <li class="procedimentos">Tratamento de fungos</li>
            <li class="procedimentos">Órteses</li>
            <li class="procedimentos">Laserterapia</li>
            <li class="procedimentos">Terapia Ilib</li>
            <li class="procedimentos">Tratamento de calos</li>
            <li class="procedimentos">Retirada de bicho de pé</li>
            <li class="procedimentos">Tratamento de frieiras</li>
            <li class="procedimentos" >Corte técnico</li>
        </ul>
    </section>
    

    <section class="mapa">
        <h2 class="titulo__secao">Nossa localização</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10867.596903226986!2d-47.831446137646545!3d-15.630298709666775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a4104bef1c69b%3A0x47ecb66dde57bd8b!2sCaminho%20dos%20p%C3%A9s%20podologia!5e0!3m2!1spt-BR!2sbr!4v1678551076998!5m2!1spt-BR!2sbr" width="1040" height="350" style="border:0; margin:60px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

</main>






{% include 'partials/_footer.html' %}

{% endblock %}