{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_cabecalho.html' %}


<main>

    <div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <div>
        
                
            </div>
        </div>
    </div>



    <div class="mapa">
        <h1 class="titulo__localizacao">Nossa localização</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10867.596903226986!2d-47.831446137646545!3d-15.630298709666775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a4104bef1c69b%3A0x47ecb66dde57bd8b!2sCaminho%20dos%20p%C3%A9s%20podologia!5e0!3m2!1spt-BR!2sbr!4v1678551076998!5m2!1spt-BR!2sbr" width="800" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</main>






{% include 'partials/_footer.html' %}

{% endblock %}