{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_cabecalho.html' %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}

    <label for="email" >Email</label>
    <input type="email"name="email"required>
    
    <label for="senha">Senha</label>
    <input type="password" name="senha"required>


    <input type="submit" value="Fazer login">

    {% include 'partials/_alertas.html' %}
</form>



{% include 'partials/_footer.html' %}

{% endblock %}