{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_cabecalho.html' %}
<main>
    <div class="div__login">
        <form action="{% url 'login' %}" method="POST" class="p-3">
            {% csrf_token %}
            {% include 'partials/_alertas.html' %}
                <div class="form-floating mb-3" >
                    <input type="email" class="form-control" name="email" placeholder="name@example.com" required>
                    <label for="email">Email</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="senha" placeholder="Password" required>
                    <label for="floatingPassword">Senha</label>
                </div>
                {% include 'partials/_alertas.html' %}
                <div class="div-botoes" >
                    <input type="reset" value="Limpar" class="botao-limpar">
                    <input type="submit" value="Fazer login" class="botao-salvar">
                </div>
        </form>
    </div>
</main>


{% include 'partials/_footer.html' %}

{% endblock %}