{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_cabecalho.html' %}


<main>
    <form action="">
        {% csrf_token %}
        {% for fornecedor in registrar_fornecedor  %}
        <div>
            <label for="{{ field.id_for_label }}"> {{ fornecedor.label }}</label>
            {{ fornecedor }}

        </div>
        {% endfor %}

        <input type="submit" value="Salvar">
        
    </form>
</main>






{% include 'partials/_footer.html' %}

{% endblock %}